.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  margin: 0 var(--white-space);
  min-height: 100vh;
  /* background-color: brown; */
}

.flex{
  display: flex;
  flex-direction: column;
}

.flex div:nth-child(odd){
  background-color: rgb(232, 230, 230);
  border: 1px solid red;
  
}

.flex div {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero{
  /* background-color: red;  */
  height: 30rem;
}
.imgContainer div{
  /* display: flex; */
  width: 50%;
}

.mediumImg{
  /* width: 50%; */
}


/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}


